*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    max-width: 1170;
    flex-wrap: wrap;
}

.col-xs-1{
    flex-basis: calc(100% * 1/12);
    max-width: calc(100% * 1/12);
}

.col-xs-2{
    flex-basis: calc(100% * 2/12);
    max-width: calc(100% * 2/12);
}

.col-xs-3{
    flex-basis: calc(100% * 3/12);
    max-width: calc(100% * 3/12);
}

.col-xs-4{
    flex-basis: calc(100% * 4/12);
    max-width: calc(100% * 4/12);
}

.col-xs-5{
    flex-basis: calc(100% * 5/12);
    max-width: calc(100% * 5/12);
}

.col-xs-6{
    flex-basis: calc(100% * 6/12);
    max-width: calc(100% * 6/12);
}

.col-xs-7{
    flex-basis: calc(100% * 7/12);
    max-width: calc(100% * 7/12);
}

.col-xs-8{
    flex-basis: calc(100% * 8/12);
    max-width: calc(100% * 8/12);
}

.col-xs-9{
    flex-basis: calc(100% * 9/12);
    max-width: calc(100% * 9/12);
}

.col-xs-10{
    flex-basis: calc(100% * 10/12);
    max-width: calc(100% * 10/12);
}

.col-xs-11{
    flex-basis: calc(100% * 11/12);
    max-width: calc(100% * 11/12);
}

.col-xs-12{
    flex-basis: calc(100% * 12/12);
    max-width: calc(100% * 12/12);
}




@media screen and (min-width:576px){
    .col-sm-1{
        flex-basis: calc(100% * 1/12);
        max-width: calc(100% * 1/12);
    }
    
    .col-sm-2{
        flex-basis: calc(100% * 2/12);
        max-width: calc(100% * 2/12);
    }
    
    .col-sm-3{
        flex-basis: calc(100% * 3/12);
        max-width: calc(100% * 3/12);
    }
    
    .col-sm-4{
        flex-basis: calc(100% * 4/12);
        max-width: calc(100% * 4/12);
    }
    
    .col-sm-5{
        flex-basis: calc(100% * 5/12);
        max-width: calc(100% * 5/12);
    }
    
    .col-sm-6{
        flex-basis: calc(100% * 6/12);
        max-width: calc(100% * 6/12);
    }
    
    .col-sm-7{
        flex-basis: calc(100% * 7/12);
        max-width: calc(100% * 7/12);
    }
    
    .col-sm-8{
        flex-basis: calc(100% * 8/12);
        max-width: calc(100% * 8/12);
    }
    
    .col-sm-9{
        flex-basis: calc(100% * 9/12);
        max-width: calc(100% * 9/12);
    }
    
    .col-sm-10{
        flex-basis: calc(100% * 10/12);
        max-width: calc(100% * 10/12);
    }
    
    .col-sm-11{
        flex-basis: calc(100% * 11/12);
        max-width: calc(100% * 11/12);
    }
}

@media screen and (min-width:768px){
    .col-md-1{
        flex-basis: calc(100% * 1/12);
        max-width: calc(100% * 1/12);
    }
    
    .col-md-2{
        flex-basis: calc(100% * 2/12);
        max-width: calc(100% * 2/12);
    }
    
    .col-md-3{
        flex-basis: calc(100% * 3/12);
        max-width: calc(100% * 3/12);
    }
    
    .col-md-4{
        flex-basis: calc(100% * 4/12);
        max-width: calc(100% * 4/12);
    }
    
    .col-md-5{
        flex-basis: calc(100% * 5/12);
        max-width: calc(100% * 5/12);
    }
    
    .col-md-6{
        flex-basis: calc(100% * 6/12);
        max-width: calc(100% * 6/12);
    }
    
    .col-md-7{
        flex-basis: calc(100% * 7/12);
        max-width: calc(100% * 7/12);
    }
    
    .col-md-8{
        flex-basis: calc(100% * 8/12);
        max-width: calc(100% * 8/12);
    }
    
    .col-md-9{
        flex-basis: calc(100% * 9/12);
        max-width: calc(100% * 9/12);
    }
    
    .col-md-10{
        flex-basis: calc(100% * 10/12);
        max-width: calc(100% * 10/12);
    }
    
    .col-md-11{
        flex-basis: calc(100% * 11/12);
        max-width: calc(100% * 11/12);
    }
}

@media screen and (min-width:992px){
    .col-lg-1{
        flex-basis: calc(100% * 1/12);
        max-width: calc(100% * 1/12);
    }
    
    .col-lg-2{
        flex-basis: calc(100% * 2/12);
        max-width: calc(100% * 2/12);
    }
    
    .col-lg-3{
        flex-basis: calc(100% * 3/12);
        max-width: calc(100% * 3/12);
    }
    
    .col-lg-4{
        flex-basis: calc(100% * 4/12);
        max-width: calc(100% * 4/12);
    }
    
    .col-lg-5{
        flex-basis: calc(100% * 5/12);
        max-width: calc(100% * 5/12);
    }
    
    .col-lg-6{
        flex-basis: calc(100% * 6/12);
        max-width: calc(100% * 6/12);
    }
    
    .col-lg-7{
        flex-basis: calc(100% * 7/12);
        max-width: calc(100% * 7/12);
    }
    
    .col-lg-8{
        flex-basis: calc(100% * 8/12);
        max-width: calc(100% * 8/12);
    }
    
    .col-lg-9{
        flex-basis: calc(100% * 9/12);
        max-width: calc(100% * 9/12);
    }
    
    .col-lg-10{
        flex-basis: calc(100% * 10/12);
        max-width: calc(100% * 10/12);
    }
    
    .col-lg-11{
        flex-basis: calc(100% * 11/12);
        max-width: calc(100% * 11/12);
    }
}