*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    width: 1170;
    flex-wrap: wrap;
}

.col-xs-1{
    flex-basis: calc(100% * 1/12);
    max-width: calc(100% * 1/12);
}

.col-xs-2{
    flex-basis: calc(100% * 2/12);
    max-width: calc(100% * 2/12);
}

.col-xs-3{
    flex-basis: calc(100% * 3/12);
    max-width: calc(100% * 3/12);
}

.col-xs-4{
    flex-basis: calc(100% * 4/12);
    max-width: calc(100% * 4/12);
}

.col-xs-5{
    flex-basis: calc(100% * 5/12);
    max-width: calc(100% * 5/12);
}

.col-xs-6{
    flex-basis: calc(100% * 6/12);
    max-width: calc(100% * 6/12);
}

.col-xs-7{
    flex-basis: calc(100% * 7/12);
    max-width: calc(100% * 7/12);
}

.col-xs-8{
    flex-basis: calc(100% * 8/12);
    max-width: calc(100% * 8/12);
}

.col-xs-9{
    flex-basis: calc(100% * 9/12);
    max-width: calc(100% * 9/12);
}

.col-xs-10{
    flex-basis: calc(100% * 10/12);
    max-width: calc(100% * 10/12);
}

.col-xs-11{
    flex-basis: calc(100% * 11/12);
    max-width: calc(100% * 11/12);
}

.col-xs-12{
    flex-basis: calc(100% * 12/12);
    max-width: calc(100% * 12/12);
}




@media screen and (min-width:576px){

}